@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <p>
        SAYes Mentoring is a non-profit organization that trains mentors to mentor orphaned or individuals aged
        between 14 and 29 who previously stayed in a group home. The purpose of SAYes is to inspire and inform
        leaders of social change through mentoring. SAYes’s main goal is based on the United Nation’s Sustainable
        Development Goal 5, which is Quality Education. They seek to achieve the goal through assigning mentees to
        trained volunteering mentors.
    </p>
    <p>
        The current system of linking mentees to mentors works in the following way. A volunteering mentor or
        aspiring mentee needs to go to the SAYes mentoring website https://sayesmentoring.org/ and click on a tab on
        the right side of the page written ‘Request application’. An applicant is required to provide their Name,
        Email address, contact number and an application request message. An employee from SAYes mentoring will read
        the application request and contacts the applicant either through email or phone call. The employee will take
        the applicant through application steps and an applicant will be required to go through a test that will determine
        their level of need as a mentee or their level of capability as a mentor. Volunteering mentor will be trained
        and the linked to a mentee that will benefit most from their capabilities.
    </p>
    <p>
        SAYes Mentoring constantly gets donations from individuals, organizations and sometimes government.
        Their impact is quite effective, but I think their reach is not very wide. To do more impact in reaching
        the Quality education UN SD Goal, I think the organization should widen their reach by accepting wider range
        of mentees in terms of economic and social background. Instead of only accepting disadvantaged and special needs
        individuals as mentees, they could accept anyone who needs mentoring. The age range can remain between 14 and 29
        and the mentoring programs can remain the same. This improvement might put a stress on the organization’s funds
        and employee’s availability. So, to counter these problems, I am proposing a system that will automate the
        registration and mentor-mentee linking process. This will reduce the number of manual labor required for this work.
        Here’s how the system works.
    </p>
    <p>
        An applicant needs to request the web application on a web browser using a link. On the home page, there’s a
        Register and Login option/button. When the applicant click ‘Register’, they will then need to choose whether
        they are registering as a Mentor or Mentee. If the applicant is a mentor. They will be required to enter their
    </p>
</div>