
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<div class="container">
    <a class="btn-primary" href="@Url.Action("Register","User")">Register</a>
    <br />
    <a class="btn-primary" href="@Url.Action("Login","User")">Login</a>
    <br />
    <a class="btn-primary" href="@Url.Action("About","Home")">About US</a>

</div>