
@{
    ViewBag.Title = "Welcome";
}

    <h2>Welcome</h2>

    <div class="container">
        <div class="col-md-12"> 
            <Button class="btn-primary" href="@Url.Action("Register","User")">Register</Button>
            <br />
            <br />
            <Button class="btn-primary" href="@Url.Action("Login","User")">Login</Button>
            <br />
            <br />
            <Button class="btn-primary" href="@Url.Action("About","Home")">About US</Button>
            <br />
            <br />
            <Button class="btn-primary" href="@Url.Action("AdminProfile","User")">Profile</Button>
        </div>

    </div>
