@model List<SAYesMentors.Models.Admin>
@{
    ViewBag.Title = "Login";
}

<!-- Background image -->
<div style="background-image: url('https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp')">
    <!-- Background image -->
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-12">
                        <label for="primaryKey" class="form-label">Cellphone Number:</label>
                        <input type="text" class="form-control" id="primaryKey" required>
                    </div>
                    <div class="col-md-12">
                        <label for="loginKey" class="form-label">Cellphone Number:</label>
                        <input type="text" class="form-control" id="loginKey" required>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <br />
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </form>
            }
        </div>
    </div>

</div>
